<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8">

			<title> It's Burger Time!</title>

			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

			<link rel="stylesheet" href="../public/assets/css/burger_style.css" type="text/css"/>

			<link rel="icon" href="https://www.cozyburger.com.tr/wp-content/uploads/2017/10/cropped-cozyburgerlogofav.png" width="16" height="16">
		
			<script src="https://code.jquery.com/jquery.js"></script>

			<script src="../models/burger.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>